<form class="layui-form layui-form-pane" action="{:url('@admin/goods/do_remove')}" method="post">
              
    <h3>更改密码</h3>
    <label class="login-title" for="id">商品ID</label>
    <div class="layui-form-item">
        <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
        <div class="layui-input-inline login-inline">
            <input type="text" name="id" lay-verify="required" placeholder="请输入商品ID" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-warning pull-right" lay-submit lay-filter="login"  type="submit">提交</button> 
        
    </div>
</form>