个人信息编辑页面

<form class="layui-form layui-form-pane" action="{:url('@admin/admin/change_pw')}" method="post">
              
    <h3>更改密码</h3>
    <label class="login-title" for="oldpw">旧密码</label>
    <div class="layui-form-item">
        <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
        <div class="layui-input-inline login-inline">
            <input type="text" name="oldpw" lay-verify="required" placeholder="请输入你的旧密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <label class="login-title" for="newpw">新密码</label>
    <div class="layui-form-item">
        <label class="layui-form-label login-form"><i class="iconfont">&#xe82b;</i></label>
        <div class="layui-input-inline login-inline">
            <input type="text" name="newpw" lay-verify="required" placeholder="请输入你的新密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-warning pull-right" lay-submit lay-filter="login"  type="submit">修改</button> 
        
    </div>
</form>